---
import MainLayout from "../layouts/MainLayout.astro";
import Wellcome from "../components/Wellcome.astro";
import SignInFormComponent from "../components/SignInForm/SignInForm.jsx";
---

<MainLayout>
	<Wellcome />
	<main>
		<!-- <Header /> -->
		<SignInFormComponent client:load />
	</main>
</MainLayout>


<style>
	main {
		position: relative;

		display: flex;
		flex-direction: column;
		gap: 50px;
	}
</style>