<header class="header">
  <h1>Header</h1>
</header>

<style>
  .header {
    position: sticky;
    top: 0;
    z-index: 100;


    background-color: var(--primary-200);
    padding: 10px;
    border-radius: 10px;

    min-height: 100px;

    display: flex;
    align-items: center;

    color: white;

    h1 {
      font-size: 2rem;
    }
  }
</style>