.container {
  padding-block: 100px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.signinform {
  background-color: white;
  box-shadow: 0 0 10px 0 rgba(0, 0, 0, 0.1);
  padding-inline: 30px;
  padding-block: 20px;
  border-radius: 4px;

  display: flex;
  flex-direction: column;
  align-items: stretch;
  gap: 20px;
}

.header {
  font-family: 'Marck Script', cursive;
  font-size: 2rem;
  text-align: center;
  border-bottom: 1px solid var(--primary-200);
}

.form {
  display: flex;
  flex-direction: column;
  align-items: stretch;
  gap: 10px;
  padding-inline: 0px;
  width: 100%;
}

.footer {
  display: flex;
  justify-content: flex-end;
  align-items: end;
  gap: 10px;
}

.label {
  font-size: 12px;
  /* color: var(--primary-500); */
  opacity: 0.7;
}

.input {
  width: 100%;
  padding-block: 5px;
  padding-inline: 10px;
  border-radius: 4px;
  font-size: 14px;
  border: 1px solid var(--primary-200);
  outline: none;
  transition: all 0.15s ease;
}

.input:active,
.input:focus {
  border-color: var(--primary-500);
}

.notGoing {
  transition: all 0.15s ease;
  cursor: pointer;
  color: var(--primary-600);
  padding: 5px;
  font-size: 12px;
}

.notGoing:hover,
.notGoing:active,
.notGoing:focus {
  color: var(--primary-500);
  text-decoration: underline;
}

.going {
  transition: all 0.15s ease;
  cursor: pointer;
  color: var(--primary-600);
  font-size: 14px;
  border: 1px solid var(--primary-200);
  padding: 10px;
  border-radius: 4px;
}

.going:hover,
.going:active,
.going:focus {
  background-color: var(--primary-200);
}

.textMuted {
  font-size: 12px;
  color: var(--primary-500);
  opacity: 0.7;
}

.acompananteBox {
  margin-top: 20px;
  padding: 10px;
  background-color: var(--primary-50);
  border: 1px solid var(--primary-200);
  border-radius: 4px;
  display: flex;
  flex-direction: column;
  gap: 10px;
}

.acompananteTitle {
  font-size: 1.2rem;
  font-weight: 600;
  color: var(--primary-600);
  font-family: 'Marck Script', cursive;
}

