---
import '../styles/global.css';
---

<html lang="es">
  <head>
      <link rel="stylesheet" type="text/css" href="//fonts.googleapis.com/css?family=Marck+Script" />
      <meta charset="utf-8" />
      <meta name="viewport" content="width=device-width, initial-scale=1.0" />
      <title>Edu & Nadia - Nuestra Boda</title>
    </head>
    <body>
        <slot />
    </body>
</html>

<style>
  body {
    background-color: var(--primary-100);
  }
</style>